*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/modules.xml
/.idea/deploymentTargetSelector.xml
/.idea/caches
/build
/captures
.externalNativeBuild
.cxx
/web/local.properties
.DS_Store
